<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="main.css" />


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alice&family=Gloria+Hallelujah&family=Kavivanar&family=Luckiest+Guy&family=Merienda&family=Oxygen&display=swap" rel="stylesheet">

<!-- <button onclick="customerLogout()" id="logout" type="button">Logout</button><br><br> -->
<div id="status"></div>