/*
font-family: 'Akaya Telivigala', cursive;
font-family: 'Alice', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Merienda', cursive;
font-family: 'Oxygen', sans-serif;

#67BAED
#6EC2F5
#1577B4 dark blue
#00304e darker blue
#FB3640 salmon
#FBB13C gold
#35CE8D green
*/

body, html {
    background-color: #1577b4;
}

.box1 {
    background-color: hsl(203, 79%, 67%, .5);
}

h1 {
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 20px;
    animation-name: h1;
    animation-duration: 10s;
}

@keyframes h1 {
    from {
    color: #1577b4;;
    }

    to {
    color: white;
    }
}

h2 {
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}


hr {
    border: 2px solid white;
  }
button {
    text-align: center;
    font-family: 'Alice', serif;
    background-color: #1577b4;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
button:hover {
    color: #35CE8D;
}

#button {
    text-align: center;
    font-family: 'Alice', serif;
    background-color: #1577b4;
    color: white;
    padding: 10px;
}
#button:hover {
    color: #35CE8D;
}

#form {
    text-align: center;
    font-family: 'Alice', serif;
    padding: 20px;
    background-color: #6EC2F5;
}

#journal-form {
    /* text-align: center; */
    font-family: 'Alice', serif;
    padding: 20px;
    background-color: #6EC2F5;
}

footer {
    text-align: center;
    font-family: 'Alice', serif;
    padding: 20px;
    color: white;
    font-size: 20px;
}

a {
    text-align: center;
    font-family: 'Alice', serif;
    padding: 20px;
    color: white;
    
}

a:hover {
    color:#35CE8D;
}

/* .journal-display {
    
    font-family: 'Alice', serif;
    padding: 20px;
    color: white;
} */

label {
    color: #00304e;
    font-family: 'Alice', serif;
}

table {
    width: 90%;
    border: 1px solid white;
    padding: 20px;
}

th {
    background-color: #1577b4;
    color: white;
    padding: 10px;
    font-family: 'Alice', serif;
}

td {
    background-color:#6EC2F5;
    color: #00304e;
    padding: 10px;
    border-bottom: solid white 1px;
    font-family: 'Alice', serif;
}

#outputJournal {
    padding: 20px;
    font-family: 'Alice', serif;
}

#buttonJournal {
    margin-left: 20px;
    padding: 10px;
    
}