/*
font-family: 'Akaya Telivigala', cursive;
font-family: 'Alice', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Merienda', cursive;
font-family: 'Oxygen', sans-serif;
*/

h1 {
    font-family: 'Akaya Telivigala', cursive;
    color: green;

}