<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal To Go</title>
    <%- include ("../partials/header.ejs") %>
    <link href="/../">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alice&family=Gloria+Hallelujah&family=Kavivanar&family=Luckiest+Guy&family=Merienda&family=Oxygen&display=swap" rel="stylesheet">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   
</head>
<body>
    <form id="logout-form" action="/customerLogout" method="POST">
        <button  id="journalDisplay" type="submit">Logout</button><br><br>
    </form> 
    <nav>
        <ul>
            <li><a href="/addentry">Add Journal Entry</a></li>
            <li><a href="/entries">View Journal</a></li>
            <li><a href="/index">Home</a></li>
        </ul>
      </nav>
    <div class="box1">
    <h1>Journal To Go</h1>
    <hr>

    <h2>New Journal Entry</h2>
    <div id="messageOutput2"></div>  
    
    <form id="journal-form">
        <label for="journal_entry_date">Date:</label><br>
        <input id="journal_entry_date" type="text" name="journal_entry_date" placeholder="yyyy-mm-dd"><br><br>
        <label for="journal_entry">Entry:</label><br>
        <textarea id="journal_entry" name="journal_entry" rows="10" cols="50" placeholder="What did you do today?"></textarea><br><br>
       
        <button onclick="addJournalEntry()" id="addEntry" type="button">Done</button>
        <a id="button-2" href="/entries">View All Entries</a><br><br><br>
        </form>
       

   
<hr>
</div>

    <footer>
        <%- include ("../partials/footer.ejs") %>

    </footer>

</body>
</html>