<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal To Go</title>
    <%- include ("../partials/header.ejs") %>
    <link href="/../">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alice&family=Gloria+Hallelujah&family=Kavivanar&family=Luckiest+Guy&family=Merienda&family=Oxygen&display=swap" rel="stylesheet">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   
</head>
<body>
    <div class="box1">
    <h1>Journal To Go</h1>
    <hr>
    <h2>Journal Entries</h2>
    
    <button onclick="customerLogout()" id="logout" type="button">Logout</button><br><br>
    <button onclick="generateJournal()" id="buttonJournal">Display Journal Entries</button>
    <!-- <form id="form" action="/getJournal" method="POST">

       
        <button  id="journalDisplay" type="submit">Display Journal Entries</button><br><br>
      
        </form>   -->
    <a id="button-2" href="/addentry">New Journal Entry</a>
  
<div id="outputJournal"></div>


   
<hr>
</div>

    <footer>
        <%- include ("../partials/footer.ejs") %>

    </footer>

</body>
</html>