<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal To Go</title>
    <%- include ("../partials/header.ejs") %>
    <link href="/../">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alice&family=Gloria+Hallelujah&family=Kavivanar&family=Luckiest+Guy&family=Merienda&family=Oxygen&display=swap" rel="stylesheet">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   
</head>

<body>

    <div class="box1">
    <h1>Journal To Go</h1>
    <hr>

    
    <!-- <button onclick="generateTable()" id="button">Show Customer Information</button>
  
<div id="output"></div> -->


<form id="form" action="/customerLogin" method="POST">

    <label for="email">Username</label><br>
    <input id="email" type="text" name="email"><br>
    <label for="password">Password</label><br>
    <input id="password" type="text" name="password"><br><br>
    <button  id="login" type="submit">Login</button><br><br>
    <a id="center-link" href="/register">Need to register?</a>
    </form>
    
    <hr>
</div>
    <footer>
        <%- include ("../partials/footer.ejs") %>

    </footer>

</body>
</html>