<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal To Go</title>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <h1>Journal To Go</h1>
    <label></label>
    <input>
    <label></label>
    <input>

    <form>
        <button type="button">Login</button>
    </form>


    <footer>
        <%- include ("../partials/footer.ejs") %>
    </footer>
</body>
</html>